.button {
	background-image: url(../../images/texture-cheese.jpg);
	background-size: cover; 
	padding: 15px 20px;
	color: black;
	border-radius: 4px; 
	margin-bottom: 40px;
	margin-left: 200px;
}

.button:hover {
	background-color: grey;
	color: white;
	border: 5px white;
}
