.card {
 	display: flex;
 	align-items: center;
  	justify-content: space-between;
	padding: 20px;
	background-color: #F3CD59;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 20px auto;
	color: black;
}

.card img {
 	width: 150px;
 	height: 150px;
 	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card h3 {
 	flex-grow: 1;
 	padding-left: 20px;
}
